*{
    margin: 0;
    padding: 0;
}

.header-container{
    display: flex;
    align-items: center;   
    background-color: black;
    padding: 10px;
    width: auto;   
    height: auto;
}

.header-container h1{
    color: white;
}   

.adminui-container{
    display: flex;
    position: absolute;
    top: 15vh;
    left : 10vw;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border: 2px solid black;
    max-height: 80vh;
}

.adminui-container table{
    border: 2px solid black;
    border-collapse: collapse;
    width: 100%;
}

.adminui-container table thead{
    background-color: black;
    color: white;
}

.adminui-container table tbody{
    background-color: white;
    color: black;
}

.adminui-container table th, td{
    border: 2px solid black;
    padding: 10px;
    font-size: 1rem;
}